@media screen and (max-width: 1375px) {
  .hero .mid .desc {
    padding-left: 50px;
  }

  .hero .connect {
    right: 2.5%;
  }
}

@media screen and (max-width: 1200px) {
  .hero .mid .desc h1 {
    font-size: 2.2em;
  }

  .hero .mid .desc h1 span {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 992px) {
  .hero .mid {
    padding-top: 30vh;
  }

  .hero .mid .desc {
    padding-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .hero .mid {
    padding-top: 35vh;
  }

  .hero .mid .desc {
    width: 100%;
    padding-left: 80px;
  }

  .hero .mid .placeholder {
    display: none;
  }

  .hamb {
    display: block;
  }

  header nav {
    width: 100%;
    height: 100vh;
    background: #353f48;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;

    justify-content: center;
    transition: 0.3s left;
  }

  header nav.click {
    left: 0px;
  }

  header nav ul {
    width: 100%;
    text-align: center;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    font-size: 2em;
    margin: 0 15px;
    padding: 0;
    border-bottom: none;
  }

  header nav ul li a:hover {
    border-bottom: none;
    color: #ededed;
  }

  header nav .cta {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }

  header nav .cta button:last-child {
    margin-left: 20px;
  }

  header nav .cta button {
    margin: 10px 20px;
  }

  .btn {
    border: 3px solid #6c63ff;
    padding: 10px 20px;
    font-size: 1.1em;
    letter-spacing: 1.1px;
    color: #6c63ff;
  }

  .btn:hover {
    border: 3px solid #ededed;
    color: #ededed;
  }

  .btn-full {
    border: 2px solid #6c63ff;
    background-color: #6c63ff;
    color: #ededed;
  }

  .btn-full:hover {
    border: 3px solid #6c63ff;
    background-color: transparent;
    color: #6c63ff;
  }
}
