<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Juntos Para o Bem</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="POST" class="form" id="login">
            <h1 class="form__title">Criar cadastro</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
            </div>
            <button class="form__button" type="submit">Entrar</button>
        </form>
    </div>
    <script src="/js/main"></script>
</body>
</html>