<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo</title>

    <link rel="img" type="image/png" href="/img/logo.png">

    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/mquery.css">
    <link rel="stylesheet" type="text/css" href="/css/mquery.css">

    <script src="https://kit.fontawesome.com/107695a937.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <h2><span>AMG</span></h2>
            </div>


            <nav class="slide">
                <ul>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contado</a></li>
                </ul>

                <div class="cta">
                    <button class="btn">Entrar</button>
                    <button class="btn btn-full">Cadastrar</button>
                </div>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="mid">
                <div class="desc">
                    <h1>Amigo <br><span>Ação Social</span></h1>
                    <p>
                        Uma plataforma cujo objetivo é trazer mais alegria às
                        vidas de milhares de pessoas por meio da localização
                        dos orfanatos mais próximos do usuário.
                    </p>

                    <div class="cta">
                        <a href="/instituicao" class="btn btn-full">Mais Informações</a>
                    </div>
                </div>

                <div class="placeholder">
                    <img src="/img/celular.svg" alt="">
                </div>
            </div>

            <div class="over">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-play"></i></a>
                <a href="#"><i class="fas fa-cogs"></i></a>
            </div>
        </div>

        <div class="connect">
            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">YouTube</a>
        </div>
    </section>

    <div class="hamb">
        <span></span>
        <span class="mid"></span>
        <span></span>
    </div>

    <script type="text/javascript" src="/public/js/script.js"></script>
</body>

</html>